*,*::before,*::after{
  margin:0;
  padding: 0;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,900&display=swap');

html{
  overflow: hidden;
  cursor:url('./Pictures/cursor.png'), auto;
}

.intro {
  background: #8338EC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

h1, h3, a{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333533;
  font-size: 24px;
}


.landingpage{
  background: #EEEEEE;
  width: 100%;
  height: 100vh;
}

header {
  height: 7vh;
  width: 98%;
  margin: auto;
}

.page{
  height: 86vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recentwork{
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.recentworktext{
  justify-self: center;
  align-self: center;
}

.recentworktext h1{
  font-size: 10em;
  color: #8338EC;
}

/* LOGO */
.tudor1{
  color: #8338EC;
  font-size: 9em;
  position: absolute;
  top: 17%;
  left: 18%;
}

.tudor2{
  position: absolute;
  top: 25%;
  left: 15%;
  color: #EEEEEE;
  font-size: 9em;
  -webkit-text-stroke: 4px #8338EC;
}
.tudor3{
  position: absolute;
  top: 35%;
  left: 10%;
  color: #EEEEEE;
  font-size: 9em;
  -webkit-text-stroke: 4px #8338EC;
}
.tudor4{
  position: absolute;
  top: 45%;
  left: 5%;
  color: #EEEEEE;
  font-size: 9em;
  -webkit-text-stroke: 4px #8338EC;
}
.tudor5{
  position: absolute;
  top: 55%;
  left: 15%;
  color: #EEEEEE;
  font-size: 9em;
  -webkit-text-stroke: 4px #8338EC;
}

.tudor1:hover{
  color: #EEEEEE;
  -webkit-text-stroke: 4px #8338EC;
}

.tudor2:hover, .tudor3:hover, .tudor4:hover, .tudor5:hover{
  color: #8338EC;
  -webkit-text-stroke: 0px #8338EC;
}



.year{
  grid-column: 1/2;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.year h3{
  transform: rotate(-270deg);
}

.outnow{
  grid-column: 1/2;
  position: absolute;
  left: -16%;
  top: 50%;
  transform: translateY(-50%);
}
.outnow marquee{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  color: #8338EC;
  transform: rotate(-90deg);
}


#playlist{
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}

#playlist li a{
  text-decoration: none;
  color: #333533;
}

#playlist .current-song a{
  color: #8338EC;
}

#audioPlayer{
  width: 30vw;
}

.leftup{
  position: absolute;
  top: 1%;
  left: 1%;
}
.midup{
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.rightup{
  position: absolute;
  top: 1%;
  right: 1%;
}

#time{
  text-align: right;
}

.leftdown{
  position: absolute;
  bottom: 1%;
  left: 1%;
}
.middown{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

.rightdown{
  position: absolute;
  bottom: 1%;
  right: 1%;
}


footer{
  height: 7vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {


  .landingpage{
    background: #EEEEEE;
    width: 100%;
    min-height: 100vh;
  }

  body{
    overflow: hidden;
  }
  #videoBG {
      display: none;
  }

  a, h3, h1{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #333533;
  }

  .rightup{
    display: none;
  }

  .midup{
    all:initial;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333533;
    cursor: pointer;
  }

  .year{
    display: none;
  }


  .logo{
    display: inline-flex;
  }

  .tudor1{
  color: #8338EC;
  font-size: 4em;
  position: absolute;
  top: 16%;
  left: 10%;
}

.tudor2{
  position: absolute;
  top: 25%;
  left: 1%;
  color: #EEEEEE;
  font-size: 4em;
  -webkit-text-stroke: 2px #8338EC;
}
.tudor3{
  position: absolute;
  top: 35%;
  left: 10%;
  color: #EEEEEE;
  font-size: 4em;
  -webkit-text-stroke: 2px #8338EC;
}
.tudor4{
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 5%;
  color: #EEEEEE;
  font-size: 4em;
  -webkit-text-stroke: 2px #8338EC;
}
.tudor5{
  position: absolute;
  top: 55%;
  left: 10%;
  color: #EEEEEE;
  font-size: 4em;
  -webkit-text-stroke: 2px #8338EC;
}


.outnow{
  position: absolute;
  width: 100vw;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.outnow marquee{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 1em;
  color: #333533;
  transform: rotate(0deg);
}

  .middown{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    position: absolute;
    bottom: 7%;
  }
}
